<img src="Archivos/miad4.png" width=800x>

# Modificar, limpiar y unir datos utilizando `pandas`

En este taller modificarás, limpiarás y unirás bases de datos al resolver diversos ejercicios.

## Habilidades en práctica

Al realizar este taller podrás revisar tu progreso para:

**1.** Modificar cadenas de texto contenidas en un `Series`.<br>
**2.** Representar fechas utilizando el paquete `datetime`.<br>
**3.** Imputar datos faltantes en un `DataFrame`.<br>
**4.** Unir dos `DataFrame` por coincidencia de filas o columnas.

## Instrucciones

En cada uno de los siguientes ejercicios deberás escribir el código solicitado estrictamente en las celdas indicadas para ello, teniendo en cuenta las siguientes recomendaciones:

* No crear, eliminar o modificar celdas de este Notebook (salvo lo que se te indique), pues puede verse afectado el proceso de calificación automática.

* La calificación se realiza de manera automática con datos diferentes a los proporcionados en este taller. Por consiguiente, tu código debe funcionar para diferentes instancias de cada uno de los ejercicios; una instancia hace referencia a los posibles valores de los parámetros.

* La calificación de cada ejercicio depende del valor que retorne la función especificada en su enunciado. Por lo tanto, aunque implementes funciones adicionales, es escencial que utilices los nombres propuestos en los enunciados de los ejercicios para implementar la función definitiva.

## Ejercicios
En la siguente celda encuentras declarados los paquetes necesarios para el desarollo de este taller.

In [3]:
import numpy as np
import pandas as pd
from datetime import datetime
import math as mt

### Ejercicio 1

En la siguiente celda encuentras declarados dos `DataFrame` que almacenan los datos de los clientes de un negocio.

In [4]:
orden_cliente = pd.DataFrame([[70001, 3002],
                              [70002, 3001],
                              [70003, 3001],
                              [70004, 3003],
                              [70005, 3003]],
                              columns = ['no_orden', 'id_cliente'])

cliente_categoria = pd.DataFrame([[3001, "Platino"],
                                  [3002, "Oro"    ],
                                  [3003, "Oro"    ],
                                  [3004, "Bronce" ]],
                                  columns = ['id_cliente', 'Categoría Cliente'])

Implementa una función llamada `union_derecha` que reciba por parámetro dos `DataFrame` como los declarados en la celda anterior y que retorne un `DataFrame` resultado de la unión, donde se preserven todas las filas del segundo `DataFrame` y solo las que coincidan del primer `DataFrame`. La coincidencia debe hacerse evaluando la columna "id_cliente".

La función debe retornar un `DataFrame`.

In [5]:
# YOUR CODE HERE
def union_derecha(orden_cliente,cliente_categoria):
    DataFrame_completo = pd.merge(orden_cliente, cliente_categoria, on='id_cliente', how='right')
    return DataFrame_completo
union_derecha(orden_cliente,cliente_categoria)

   no_orden  id_cliente Categoría Cliente
0   70002.0        3001           Platino
1   70003.0        3001           Platino
2   70001.0        3002               Oro
3   70004.0        3003               Oro
4   70005.0        3003               Oro
5       NaN        3004            Bronce

In [6]:
## AUTO-CALIFICADOR

# Base variables
orden_cliente = pd.DataFrame([[70001, 3002],
                              [70002, 3001],
                              [70003, 3001],
                              [70004, 3003],
                              [70005, 3003]],
                              columns = ['no_orden', 'id_cliente'])

cliente_categoria = pd.DataFrame([[3001, "Platino"],
                                  [3002, "Oro"    ],
                                  [3003, "Oro"    ],
                                  [3004, "Bronce" ]],
                                  columns = ['id_cliente', 'Categoría Cliente'])

orden_cliente_prueba= pd.DataFrame([[70001, 3002],
                                    [70002, 3002],
                                    [70003, 3001],
                                    [70004, 3000],
                                    [70006, 3004]],
                                   columns = ['no_orden', 'id_cliente'])

cliente_categoria_prueba = pd.DataFrame([[3001, "Platino"],
                                         [3002, "Oro"    ],
                                         [3000, "Oro"    ],
                                         [3001, "Bronce" ]],
                                        columns = ['id_cliente', 'Categoría Cliente'])

# Caso 1: no existe la función.
try:
    union_derecha
    assert type(union_derecha) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada union_derecha.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    union_derecha(orden_cliente, cliente_categoria)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un DataFrame.
assert type(union_derecha(orden_cliente, cliente_categoria)) == type(orden_cliente), f"Tu función debe retornar un objeto de tipo '{type(orden_cliente).__name__}'."

# Caso 4: retorna un dataframe con cantidad de columnas errada
assert union_derecha(orden_cliente, cliente_categoria).shape[1] == 3, "Tu función retorna un DataFrame con cantidad de columnas errada."
assert union_derecha(orden_cliente_prueba, cliente_categoria_prueba).shape[1] == 3, "Tu función retorna un DataFrame con cantidad de columnas errada."

# Caso 5: devuelve un dataframe con cantidad de filas errada
assert union_derecha(orden_cliente, cliente_categoria).shape[0] == 6, "Tu función retorna un DataFrame con cantidad de filas errada."
assert union_derecha(orden_cliente_prueba, cliente_categoria_prueba).shape[0] == 5, "Tu función retorna un DataFrame con cantidad de filas errada."

# Caso 6: retorna los valores que son (dfs prueba)
assert union_derecha(orden_cliente_prueba, cliente_categoria_prueba).iat[4,2] == 'Bronce', "Tu función retorna un DataFrame con valores distintos a los esperados."
assert union_derecha(orden_cliente_prueba, cliente_categoria_prueba).iat[4,1] == 3001, "Tu función retorna un DataFrame con valores distintos a los esperados."


print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 2

En la siguiente celda encuentras declarados dos `DataFrame` que almacenan los datos de los clientes de un negocio.

In [7]:
cliente_categoria_orden = pd.DataFrame([[3002, "Platino", 70001],
                                        [3004, "Oro",     70002],
                                        [3003, "Oro",     70003]],
                                        columns = ['id_cliente', 'Categoría Cliente', 'no_orden'])
    
cliente_categoria = pd.DataFrame([[3006, "Oro"    ],
                                  [3001, "Oro"    ],
                                  [3005, "Platino"],
                                  [3007, "Platino"]],
                                  columns = ['id_cliente', 'Categoría Cliente'])

Implementa una función llamada `concatenar_interno` que reciba por parámetro dos `DataFrame` como los declarados en la celda anterior y que retorne un `DataFrame` resultado de la unión, donde se preserven las filas de ambos `DataFrame`.

La función deber retornar un `DataFrame` con las **columnas** que existan en ambos `DataFrame` y todas las filas de ambos.

In [8]:
# YOUR CODE HERE
def concatenar_interno(cliente_categoria_orden,cliente_categoria):
    union_completa = pd.concat([cliente_categoria_orden,cliente_categoria], axis = 0, join = 'inner', sort = True)
    return union_completa
concatenar_interno(cliente_categoria_orden,cliente_categoria)

  Categoría Cliente  id_cliente
0           Platino        3002
1               Oro        3004
2               Oro        3003
0               Oro        3006
1               Oro        3001
2           Platino        3005
3           Platino        3007

In [9]:
## AUTO-CALIFICADOR

# Base variables
cliente_categoria_orden = pd.DataFrame([[3002, "Platino", 70001],
                                        [3004, "Oro",     70002],
                                        [3003, "Oro",     70003]],
                                        columns = ['id_cliente', 'Categoría Cliente', 'no_orden'])
    
cliente_categoria = pd.DataFrame([[3006, "Oro"    ],
                                  [3001, "Oro"    ],
                                  [3005, "Platino"]],
                                  columns = ['id_cliente', 'Categoría Cliente'])

cliente_categoria_orden_prueba = pd.DataFrame([[3002, "Platino", 70001],
                                        [3004, "Oro",     70002],
                                        [3003, "Oro",     70003]],
                                        columns = ['id_cliente', 'Categoría Cliente', 'no_orden'])
    
cliente_categoria_prueba = pd.DataFrame([[3006, 70006],
                                  [3001, 70007],
                                  [3009, 70008]],
                                  columns = ['id_cliente', 'no_orden'])

# Caso 1: no existe la función.
try:
    concatenar_interno
    assert type(concatenar_interno) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada union_interna.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    concatenar_interno(cliente_categoria_orden, cliente_categoria)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un DataFrame.
assert type(concatenar_interno(cliente_categoria_orden, cliente_categoria)) == type(cliente_categoria), f"Tu función debe retornar un objeto de tipo '{type(orden_cliente).__name__}'."

# Caso 4: retorna un dataframe con cantidad de columnas errada
assert concatenar_interno(cliente_categoria_orden, cliente_categoria).shape[1] == 2, "Tu función retorna un DataFrame con cantidad de columnas errada."

# Caso 5: devuelve un dataframe con cantidad de filas errada
assert concatenar_interno(cliente_categoria_orden, cliente_categoria).shape[0] == 6, "Tu función retorna un DataFrame con cantidad de filas errada."

# Caso 7: devuelve un dataframe cuyas columnas tienen nombre distinto de lo esperado (dfs prueba)
assert [*concatenar_interno(cliente_categoria_orden_prueba, cliente_categoria_prueba).columns] == ['id_cliente','no_orden'], "Tu función retorna un DataFrame con las columnas incorrectas."


#Caso 8: retorna un dataframe con los valores correctos (dfs prueba)
assert concatenar_interno(cliente_categoria_orden_prueba, cliente_categoria_prueba).iat[1,1] == 70002, "Tu función retorna un DataFrame con los valores incorrectos."
assert concatenar_interno(cliente_categoria_orden_prueba, cliente_categoria_prueba).iat[5,0] == 3009,"Tu función retorna un DataFrame con los valores incorrectos."

print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 3

En la siguiente celda encuentras declarado un `DataFrame` que almacenan en las filas las ventas diarias de los tres principales productos de un negocio.

In [10]:

ventas = pd.DataFrame([[2600.0,  12200.0, 6000.0],
                       [11200.0, 9000.0,  600.0 ],
                       [np.nan,  8000.0,  3000.0],
                       [4000.0,  np.nan,  np.nan],
                       [np.nan,  10000.0, 2000.0]],
                      columns = ["Producto 1", "Producto 2", "Producto 3"])

Implementa una función llamada `mediana_faltantes` que reciba por parámetro un `DataFrame` como el declarado en la celda anterior, complete los datos faltantes del `DataFrame` con la mediana de su columna respectiva y lo retorne.

La función deber retornar un `DataFrame` sin datos faltantes.

In [11]:
# YOUR CODE HERE
def mediana_faltantes(ventas):
    ventas["Producto 1"] = ventas["Producto 1"].fillna(ventas["Producto 1"].median())
    ventas["Producto 2"]= ventas['Producto 2'].fillna(ventas["Producto 2"].median())
    ventas["Producto 3"]= ventas['Producto 3'].fillna(ventas["Producto 3"].median())
    return ventas
mediana_faltantes(ventas)

   Producto 1  Producto 2  Producto 3
0      2600.0     12200.0      6000.0
1     11200.0      9000.0       600.0
2      4000.0      8000.0      3000.0
3      4000.0      9500.0      2500.0
4      4000.0     10000.0      2000.0

In [12]:
## AUTO-CALIFICADOR

# Base variables
ventas = pd.DataFrame([[2600.0,  12200.0, 6000.0],
                       [11200.0, 9000.0,  600.0 ],
                       [np.nan,  8000.0,  3000.0],
                       [4000.0,  np.nan,  np.nan],
                       [np.nan,  10000.0, 2000.0]],
                      columns = ["Producto 1", "Producto 2", "Producto 3"])

ventas_prueba = pd.DataFrame([[2600.0,  12200.0, 6000.0],
                       [11200.0, 9000.0,  6000.0 ],
                       [3000.0,  8000.0,  np.nan],
                       [np.nan,  np.nan,  6500.0],
                       [np.nan,  12000.0, 2000.0]],
                      columns = ["Producto 1", "Producto 2", "Producto 3"])

# Caso 1: no existe la función.
try:
    mediana_faltantes
    assert type(mediana_faltantes) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada mediana_faltantes.",)

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    mediana_faltantes(ventas)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un DataFrame.
assert type(mediana_faltantes(ventas)) == type(ventas), f"Tu función debe retornar un objeto de tipo '{type(ventas).__name__}'."

# Caso 4: retorna un dataframe con cantidad de columnas errada
assert mediana_faltantes(ventas).shape[1] == 3, "Tu función retorna un DataFrame con cantidad de columnas errada."

# Caso 5: devuelve un dataframe con cantidad de filas errada
assert mediana_faltantes(ventas).shape[0] == 5, "Tu función retorna un DataFrame con cantidad de filas errada."

# Caso 5: no hay valores na
assert mediana_faltantes(ventas).isnull().sum().sum() == 0, "Tu función retorna un DataFrame con valores faltantes."
assert mediana_faltantes(ventas_prueba).isnull().sum().sum() == 0, "Tu función retorna un DataFrame con valores faltantes."
# Caso 6: Los espacios vacios se llenan con la mediana
assert mediana_faltantes(ventas_prueba).iat[3,0] == 3000.0, "Tu función retorna un DataFrame que no llena los valores faltantes con la mediana."
assert mediana_faltantes(ventas_prueba).iat[2,2] == 6000.0, "Tu función retorna un DataFrame que no llena los valores faltantes con la mediana."
#respuestas 
try:
    assert mediana_faltantes(ventas).iat[2,0] == 4000
    assert mediana_faltantes(ventas).iat[3,1] == 9500
except AssertionError as e:
    e.args += ("Tu función retorna un DataFrame que no llena los valores faltantes con la mediana.",)
    raise e
    

print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 4

En la siguiente celda encuentras declarados dos `DataFrame` que almacenan los datos de los clientes de un negocio.

In [13]:
clientes = pd.DataFrame([[3002, "Masculino", "No"],
                         [3001, "Femenino",  "No"],
                         [3003, "Femenino",  "Sí"]],
                        columns = ["id_cliente", "Sexo", "Cliente Premium"])

Implemente una función llamada `cliente_dummies` que reciba por parámetro un `DataFrame` como el declarado en la celda anterior, y retorne un `DataFrame` con la representación en variables *dummy* de las columnas `"Sexo"` y `"Cliente Premium"`.

* La varable `"Sexo"` debe ser representada por un 1 si su valor es `"Femenino"` y cero de lo contrario.
* La varable `"Cliente Premium"` debe ser representada por un 1 si su valor es `"No"` y cero de lo contrario.

La función deber retornar un `DataFrame` con la misma cantidad de filas y columnas, pero números binarios en lugar de los registros de sexo y si es cliente premium.

In [14]:
# YOUR CODE HERE
def cliente_dummies(clientes):
    df2 = clientes.rename({'Sexo': 'Sexo', 'Cliente Premium': 'Cliente_Premium'}, axis=1)  # new method
    df2['Sexo'] = df2['Sexo'].mask(df2.Sexo == "Femenino", int(1)).mask(df2.Sexo == "Masculino", int(0))
    df2['Cliente_Premium'] = df2['Cliente_Premium'].mask(df2.Cliente_Premium == "No", int(1)).mask(df2.Cliente_Premium == "Sí", int(0))
    return df2
cliente_dummies(clientes)

   id_cliente Sexo Cliente_Premium
0        3002    0               1
1        3001    1               1
2        3003    1               0

In [15]:
## AUTO-CALIFICADOR

# Base variables
clientes = pd.DataFrame([[3002, "Masculino", "No"],
                         [3001, "Femenino",  "No"],
                         [3003, "Femenino",  "Sí"]],
                        columns = ["id_cliente", "Sexo", "Cliente Premium"])

clientes_prueba = pd.DataFrame([[3002, "Masculino", "Sí"],
                         [3001, "Masculino",  "No"],
                         [3003, "Femenino",  "Sí"]],
                        columns = ["id_cliente", "Sexo", "Cliente Premium"])

# Caso 1: no existe la función.
try:
    cliente_dummies
    assert type(cliente_dummies) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada cliente_dummies.",)

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    cliente_dummies(clientes)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un DataFrame.
assert type(cliente_dummies(clientes)) == type(clientes), f"Tu función debe retornar un objeto de tipo '{type(clientes).__name__}'."

# Caso 4: retorna un dataframe con cantidad de columnas errada
assert cliente_dummies(clientes).shape[1] == 3, "Tu función retorna un DataFrame con cantidad de columnas errada."

# Caso 5: devuelve un dataframe con cantidad de filas errada
assert cliente_dummies(clientes).shape[0] == 3, "Tu función retorna un DataFrame con cantidad de filas errada."

#Caso 6: Tu funcion no retorna los dummies que son (prueba)
assert cliente_dummies(clientes_prueba).iat[1,1] == 0,"Tu función retorna un DataFrame con los valores incorrectos."
assert cliente_dummies(clientes_prueba).iat[1,2] == 1,"Tu función retorna un DataFrame con los valores incorrectos."


print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 5

En la siguiente celda encuentras declarada una fecha tipo cadena de caracteres.

In [16]:
fecha_string = "2020-10-December"

Implemente una función llamada `cadena_a_fecha` que reciba por parámetro una cadena como la declarada en la celda anterior y retorne un objeto de tipo `datetime` que represente la misma fecha.

La función deber retornar un objeto de tipo `datetime`.

In [17]:
# YOUR CODE HERE
def cadena_a_fecha(fecha_string):
    fecha1 = datetime.strptime(fecha_string, '%Y-%d-%B')
    return fecha1
cadena_a_fecha(fecha_string)

datetime.datetime(2020, 12, 10, 0, 0)

In [18]:
## AUTO-CALIFICADOR

# Base variables

fecha_string = "2020-10-December"

fecha_string_prueba = "2021-20-October"

# Caso 1: no existe la función.
try:
    cadena_a_fecha
    assert type(cadena_a_fecha) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada cadena_a_fecha.",)

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    cadena_a_fecha
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un Datetime.
assert type(cadena_a_fecha(fecha_string)) == datetime, f"Tu función debe retornar un objeto de tipo '{datetime.__name__}'."

#Caso 4: retorna la fecha correcta
assert cadena_a_fecha(fecha_string_prueba) == datetime(2021, 10, 20, 0, 0), f"Tu respuesta es incorrecta."
assert cadena_a_fecha(fecha_string) == datetime(2020, 12, 10, 0, 0), f"Tu respuesta es incorrecta."


print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 6

Junto a este Notebook encontrarás dos archivos de Excel. Cada uno de estos archivos contiene una base de datos, ambas provistas por el Banco de la República.

La primera base de datos (`"1.1.TIB_Serie historica IQY.xlsx"`) corresponde a la tasa a la que se puede prestar o pedir prestado entre los bancos.

La segunda base de datos (`"1.2.TIP_Serie historica diaria IQY.xlsx"`) corresponde a la tasa de interés de referencia fijada por el Banco de la República.

Implemente una función llamada `union_izquierda` que no reciba parámetros, importe los datos de los archivos de Excel y retorne un `DataFrame` resultado de la unión, donde se preserven todas las filas de los datos de la Tasa Interbancaria y solo las que coincidan de la Tasa de Intervención Pública. La coincidencia debe hacerse evaluando la columna "Fecha".

La función debe retornar un `DataFrame`.

In [19]:
# YOUR CODE HERE
def union_izquierda():
    dfTIB = pd.read_excel("1.1.TIB_Serie historica IQY.xlsx", skiprows = 7, skipfooter=6)
    df1 = dfTIB.set_index(['Fecha(dd/mm/aaaa)'])
    #print(df1)
    #dfTIB1 = pd.to_datetime(dfTIB["Fecha(dd/mm/aaaa)"],format = "%d%m%Y") 
    dfTIP = pd.read_excel("1.2.TIP_Serie historica diaria IQY.xlsx", skiprows= 7, skipfooter=4)
    df2 = dfTIP.set_index(['Fecha (dd/mm/aaaa)'])
    #print(dfTIP)
    DataFrame_completo = dfTIB.merge(dfTIP, left_on='Fecha(dd/mm/aaaa)', right_on='Fecha (dd/mm/aaaa)', how='left')
    return DataFrame_completo
union_izquierda()

,Fecha(dd/mm/aaaa),TIB (Efectiva anual) %,Fecha (dd/mm/aaaa),Tasa de intervención de política monetaria (%)
0,2020-11-13,0.017543,2020-11-13,1.75
1,2020-11-12,0.017546,2020-11-12,1.75
2,2020-11-11,0.017533,2020-11-11,1.75
3,2020-11-10,0.017526,2020-11-10,1.75
4,2020-11-09,0.017521,2020-11-09,1.75
...,...,...,...,...
6244,1995-04-06,0.465942,NaT,NaN
6245,1995-04-05,0.449411,NaT,NaN
6246,1995-04-04,0.383749,NaT,NaN
6247,1995-04-03,0.274016,NaT,NaN
6248,1995-03-31,0.226489,NaT,NaN

In [20]:
## AUTO-CALIFICADOR

# Caso 1: no existe la función.
try:
    union_izquierda
    assert type(union_izquierda) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada union_izquierda.",)

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    union_izquierda
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un Dataframe.
assert type(union_izquierda()) == pd.core.frame.DataFrame, f"Tu función debe retornar un objeto de tipo '{pd.core.frame.DataFrame.__name__}'."


print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 7

Crea una función que reciba un `DataFrame` y retorne en una lista el nombre de las columnas que tienen más de 1 dato faltante. Puedes usar el `DataFrame` de la celda de código para probar que tu función este obteniendo el resultado correctamente. Vale aclarar que se usarán otros `DataFrame` para poner a prueba tu función.

La función, con nombre `ejercicio7`, debe retornar una lista.

In [21]:
df = pd.DataFrame({'no_orden':    [70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
                   'monto US$':   [150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
                   'Fecha Orden': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
                   'idCliente':   [3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
                   'idVendedor':  [5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

In [31]:
# YOUR CODE HERE
def ejercicio7(df):
    ListaColumnas = []
    for col in df.columns:
        cantidad = df[col].isnull().sum()
        if cantidad > 1:
            ListaColumnas.append(col)
    resultado = list(set(ListaColumnas))
    return resultado
ejercicio7(df)

['no_orden', 'idVendedor']

In [32]:
## AUTO-CALIFICADOR

# Base variables

df = pd.DataFrame({
    'no_orden':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'monto US$':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
    'Fecha Orden': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'idCliente':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'idVendedor':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

df_prueba = pd.DataFrame({
    'no_orden':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'monto US$':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
    'Fecha Orden': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'idCliente':[3002,3001,3001,3003,3002,np.nan,3001,np.nan,3003,3002,3001,3001],
    'idVendedor':[5002,5003,5001,5003,5002,5001,5001,5001,5003,5002,5003,np.nan]})

# Caso 1: no existe la función.
try:
    ejercicio7
    assert type(ejercicio7) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada ejercicio7.",)

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    ejercicio7
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un Dataframe.
assert type(ejercicio7(df)) == list, f"Tu función debe retornar un objeto de tipo '{list.__name__}'."

# Caso 4: Probar con otro Dataframe que sean esas dos.
assert ejercicio7(df_prueba) == ['no_orden', 'idCliente'], f"Tu respuesta es incorrecta."


print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 8

Colombia es un país con un gran número de días feriados. En la carpeta de este taller encontrará una base de datos (`"Festivos.xlsx"`) que contiene estas fechas. Esta base de datos organiza en columnas los festivos de cada año, desde el año 2001 hasta el año 2019. Todos los festivos se presentan con el mismo formato: 

    6 Enero Día de los Reyes Magos

Debe crear una función que procese la base de datos de festivos, de manera que retorne un objeto de tipo `DatetimeIndex` con todos los festivos que se han presentado en Colombia desde el año 2012 hasta el año 2020. 

Al imprimirse, el objeto tendría el siguientes aspecto:

    DatetimeIndex(['2001-01-01', '2001-01-08', '2001-03-19', '2001-04-12',
                   '2001-04-13', '2001-05-01', '2001-05-28', '2001-06-18',
                   '2001-06-25', '2001-07-02',
                   ...
                   '2020-06-29', '2020-07-20', '2020-08-07', '2020-08-17',
                   '2020-10-12', '2020-11-02', '2020-11-16', '2020-12-08',
                   '2020-12-25', '2020-12-31'],
                   dtype = 'datetime64[ns]', name = 'Fecha', length = 380, freq = None)
    
En la caja de código se le incluirá una lista con los meses del año. Esta lista le puede resultar de utilidad para procesar la información del `DataFrame`.

La función, con nombre `ejercicio8`, debe retornar un objeto `DatetimeIndex`.

In [34]:
lista_meses = ["Enero",      "Febrero", "Marzo",     "Abril",
               "Mayo",       "Junio",   "Julio",     "Agosto",
               "Septiembre", "Octubre", "Noviembre", "Diciembre"]

In [40]:
# YOUR CODE HERE
lista_fechas = []
def ejercicio8():
    dfFES = pd.read_excel('Festivos.xlsx')
    #print(dfFES)
    df1_transposed = dfFES.T
    print(df1_transposed)
    for etiqueta, contenido in df1_transposed.items():
        anio = etiqueta
        for texto in contenido:
            for i in lista_meses:
                if i in texto:
                    mes = i
                    print(mes)
                    break
            dia = texto[0:2]
            print(dia)
        print(anio)
        fecha = str(anio)+"-"+str(mes)+"-"+str(dia)
        #print(fecha)
        lista_fechas.append(fecha)    
    print(lista_fechas)
    return lista_fechas
ejercicio8()

                                                   0   \
1 Enero Año Nuevo      6 Enero Día de los Reyes Magos
1 Enero Año Nuevo.1    7 Enero Día de los Reyes Magos
1 Enero Año Nuevo.2    8 Enero Día de los Reyes Magos
1 Enero Año Nuevo.3    9 Enero Día de los Reyes Magos
1 Enero Año Nuevo.4   11 Enero Día de los Reyes Magos
1 Enero Año Nuevo.5   12 Enero Día de los Reyes Magos
1 Enero Año Nuevo.6    6 Enero Día de los Reyes Magos
1 Enero Año Nuevo.7    7 Enero Día de los Reyes Magos
1 Enero Año Nuevo.8    9 Enero Día de los Reyes Magos
1 Enero Año Nuevo.9   10 Enero Día de los Reyes Magos
1 Enero Año Nuevo.10  11 Enero Día de los Reyes Magos
1 Enero Año Nuevo.11  12 Enero Día de los Reyes Magos
1 Enero Año Nuevo.12   7 Enero Día de los Reyes Magos
1 Enero Año Nuevo.13   8 Enero Día de los Reyes Magos
1 Enero Año Nuevo.14   9 Enero Día de los Reyes Magos
1 Enero Año Nuevo.15  10 Enero Día de los Reyes Magos
1 Enero Año Nuevo.16  12 Enero Día de los Reyes Magos
1 Enero Año Nuevo.17   6 Enero Día de los Reyes Magos
1 Enero Año Nuevo.18   7 Enero Día de los Reyes Magos
1 Enero Año Nuevo.19   8 Enero Día de los Reyes Magos

                                                        1   \
1 Enero Año Nuevo                 23 Marzo Día de San José
1 Enero Año Nuevo.1               25 Marzo Día de San José
1 Enero Año Nuevo.2               19 Marzo Día de San José
1 Enero Año Nuevo.3               20 Marzo Día de San José
1 Enero Año Nuevo.4               21 Marzo Día de San José
1 Enero Año Nuevo.5               23 Marzo Día de San José
1 Enero Año Nuevo.6               24 Marzo Día de San José
1 Enero Año Nuevo.7               25 Marzo Día de San José
1 Enero Año Nuevo.8               19 Marzo Día de San José
1 Enero Año Nuevo.9               21 Marzo Día de San José
1 Enero Año Nuevo.10              22 Marzo Día de San José
1 Enero Año Nuevo.11              23 Marzo Día de San José
1 Enero Año Nuevo.12  20 Marzo Jueves Santo (Semana Santa)
1 Enero Año Nuevo.13              19 Marzo Día de San José
1 Enero Año Nuevo.14              20 Marzo Día de San José
1 Enero Año Nuevo.15              21 Marzo Día de San José
1 Enero Año Nuevo.16              22 Marzo Día de San José
1 Enero Año Nuevo.17              24 Marzo Día de San José
1 Enero Año Nuevo.18              25 Marzo Día de San José
1 Enero Año Nuevo.19              19 Marzo Día de San José

                                                         2   \
1 Enero Año Nuevo       9 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.1    18 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.2    29 Marzo Jueves Santo (Semana Santa)
1 Enero Año Nuevo.3    13 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.4    24 Marzo Jueves Santo (Semana Santa)
1 Enero Año Nuevo.5     2 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.6    17 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.7    28 Marzo Jueves Santo (Semana Santa)
1 Enero Año Nuevo.8     5 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.9    21 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.10    1 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.11    9 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.12  21 Marzo Viernes Santo (Semana Santa)
1 Enero Año Nuevo.13    5 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.14   13 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.15   24 Marzo Jueves Santo (Semana Santa)
1 Enero Año Nuevo.16    8 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.17   17 Abril Jueves Santo (Semana Santa)
1 Enero Año Nuevo.18   28 Marzo Jueves Santo (Semana Santa)
1 Enero Año Nuevo.19   12 Abril Jueves Santo (Semana Santa)

                                                         3   \
1 Enero Año Nuevo     10 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.1   19 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.2   30 Marzo Viernes Santo (Semana Santa)
1 Enero Año Nuevo.3   14 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.4   25 Marzo Viernes Santo (Semana Santa)
1 Enero Año Nuevo.5    3 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.6   18 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.7   29 Marzo Viernes Santo (Semana Santa)
1 Enero Año Nuevo.8    6 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.9   22 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.10   2 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.11  10 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.12               24 Marzo Día de San José
1 Enero Año Nuevo.13   6 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.14  14 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.15  25 Marzo Viernes Santo (Semana Santa)
1 Enero Año Nuevo.16   9 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.17  18 Abril Viernes Santo (Semana Santa)
1 Enero Año Nuevo.18  29 Marzo Viernes Santo (Semana Santa)
1 Enero Año Nuevo.19  13 Abril Viernes Santo (Semana Santa)

                                          4                            5   \
1 Enero Año Nuevo     1 Mayo Día del Trabajo  25 Mayo Día de la Ascensión
1 Enero Año Nuevo.1   1 Mayo Día del Trabajo  3 Junio Día de la Ascensión
1 Enero Año Nuevo.2   1 Mayo Día del Trabajo  14 Mayo Día de la Ascensión
1 Enero Año Nuevo.3   1 Mayo Día del Trabajo  29 Mayo Día de la Ascensión
1 Enero Año Nuevo.4   1 Mayo Día del Trabajo   9 Mayo Día de la Ascensión
1 Enero Año Nuevo.5   1 Mayo Día del Trabajo  18 Mayo Día de la Ascensión
1 Enero Año Nuevo.6   1 Mayo Día del Trabajo  2 Junio Día de la Ascensión
1 Enero Año Nuevo.7   1 Mayo Día del Trabajo  13 Mayo Día de la Ascensión
1 Enero Año Nuevo.8   1 Mayo Día del Trabajo  21 Mayo Día de la Ascensión
1 Enero Año Nuevo.9   1 Mayo Día del Trabajo  6 Junio Día de la Ascensión
1 Enero Año Nuevo.10  1 Mayo Día del Trabajo  17 Mayo Día de la Ascensión
1 Enero Año Nuevo.11  1 Mayo Día del Trabajo  25 Mayo Día de la Ascensión
1 Enero Año Nuevo.12  1 Mayo Día del Trabajo   5 Mayo Día de la Ascensión
1 Enero Año Nuevo.13  1 Mayo Día del Trabajo  21 Mayo Día de la Ascensión
1 Enero Año Nuevo.14  1 Mayo Día del Trabajo  29 Mayo Día de la Ascensión
1 Enero Año Nuevo.15  1 Mayo Día del Trabajo   9 Mayo Día de la Ascensión
1 Enero Año Nuevo.16  1 Mayo Día del Trabajo  24 Mayo Día de la Ascensión
1 Enero Año Nuevo.17  1 Mayo Día del Trabajo  2 Junio Día de la Ascensión
1 Enero Año Nuevo.18  1 Mayo Día del Trabajo  13 Mayo Día de la Ascensión
1 Enero Año Nuevo.19  1 Mayo Día del Trabajo  28 Mayo Día de la Ascensión

                                           6                         7   \
1 Enero Año Nuevo     15 Junio Corpus Christi  22 Junio Sagrado Corazón
1 Enero Año Nuevo.1   24 Junio Corpus Christi   1 Julio Sagrado Corazón
1 Enero Año Nuevo.2    4 Junio Corpus Christi  11 Junio Sagrado Corazón
1 Enero Año Nuevo.3   19 Junio Corpus Christi  26 Junio Sagrado Corazón
1 Enero Año Nuevo.4    30 Mayo Corpus Christi   6 Junio Sagrado Corazón
1 Enero Año Nuevo.5    8 Junio Corpus Christi  15 Junio Sagrado Corazón
1 Enero Año Nuevo.6   23 Junio Corpus Christi  30 Junio Sagrado Corazón
1 Enero Año Nuevo.7    3 Junio Corpus Christi  10 Junio Sagrado Corazón
1 Enero Año Nuevo.8   11 Junio Corpus Christi  18 Junio Sagrado Corazón
1 Enero Año Nuevo.9   27 Junio Corpus Christi   4 Julio Sagrado Corazón
1 Enero Año Nuevo.10   7 Junio Corpus Christi  14 Junio Sagrado Corazón
1 Enero Año Nuevo.11  15 Junio Corpus Christi  22 Junio Sagrado Corazón
1 Enero Año Nuevo.12   26 Mayo Corpus Christi   2 Junio Sagrado Corazón
1 Enero Año Nuevo.13  11 Junio Corpus Christi  18 Junio Sagrado Corazón
1 Enero Año Nuevo.14  19 Junio Corpus Christi  26 Junio Sagrado Corazón
1 Enero Año Nuevo.15   30 Mayo Corpus Christi   6 Junio Sagrado Corazón
1 Enero Año Nuevo.16  14 Junio Corpus Christi  21 Junio Sagrado Corazón
1 Enero Año Nuevo.17  23 Junio Corpus Christi  30 Junio Sagrado Corazón
1 Enero Año Nuevo.18   3 Junio Corpus Christi  10 Junio Sagrado Corazón
1 Enero Año Nuevo.19  18 Junio Corpus Christi  25 Junio Sagrado Corazón

                                                  8   \
1 Enero Año Nuevo     29 Junio San Pedro y San Pablo
1 Enero Año Nuevo.1    1 Julio San Pedro y San Pablo
1 Enero Año Nuevo.2    2 Julio San Pedro y San Pablo
1 Enero Año Nuevo.3    3 Julio San Pedro y San Pablo
1 Enero Año Nuevo.4    4 Julio San Pedro y San Pablo
1 Enero Año Nuevo.5   29 Junio San Pedro y San Pablo
1 Enero Año Nuevo.6   30 Junio San Pedro y San Pablo
1 Enero Año Nuevo.7    1 Julio San Pedro y San Pablo
1 Enero Año Nuevo.8    2 Julio San Pedro y San Pablo
1 Enero Año Nuevo.9    4 Julio San Pedro y San Pablo
1 Enero Año Nuevo.10   5 Julio San Pedro y San Pablo
1 Enero Año Nuevo.11  29 Junio San Pedro y San Pablo
1 Enero Año Nuevo.12  30 Junio San Pedro y San Pablo
1 Enero Año Nuevo.13   2 Julio San Pedro y San Pablo
1 Enero Año Nuevo.14   3 Julio San Pedro y San Pablo
1 Enero Año Nuevo.15   4 Julio San Pedro y San Pablo
1 Enero Año Nuevo.16   5 Julio San Pedro y San Pablo
1 Enero Año Nuevo.17  30 Junio San Pedro y San Pablo
1 Enero Año Nuevo.18   1 Julio San Pedro y San Pablo
1 Enero Año Nuevo.19   2 Julio San Pedro y San Pablo

                                                    9   \
1 Enero Año Nuevo     20 Julio Día de la Independencia
1 Enero Año Nuevo.1   20 Julio Día de la Independencia
1 Enero Año Nuevo.2   20 Julio Día de la Independencia
1 Enero Año Nuevo.3   20 Julio Día de la Independencia
1 Enero Año Nuevo.4   20 Julio Día de la Independencia
1 Enero Año Nuevo.5   20 Julio Día de la Independencia
1 Enero Año Nuevo.6   20 Julio Día de la Independencia
1 Enero Año Nuevo.7   20 Julio Día de la Independencia
1 Enero Año Nuevo.8   20 Julio Día de la Independencia
1 Enero Año Nuevo.9   20 Julio Día de la Independencia
1 Enero Año Nuevo.10  20 Julio Día de la Independencia
1 Enero Año Nuevo.11  20 Julio Día de la Independencia
1 Enero Año Nuevo.12  20 Julio Día de la Independencia
1 Enero Año Nuevo.13  20 Julio Día de la Independencia
1 Enero Año Nuevo.14  20 Julio Día de la Independencia
1 Enero Año Nuevo.15  20 Julio Día de la Independencia
1 Enero Año Nuevo.16  20 Julio Día de la Independencia
1 Enero Año Nuevo.17  20 Julio Día de la Independencia
1 Enero Año Nuevo.18  20 Julio Día de la Independencia
1 Enero Año Nuevo.19  20 Julio Día de la Independencia

                                              10  \
1 Enero Año Nuevo     7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.1   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.2   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.3   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.4   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.5   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.6   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.7   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.8   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.9   7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.10  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.11  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.12  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.13  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.14  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.15  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.16  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.17  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.18  7 Agosto Batalla de Boyaca
1 Enero Año Nuevo.19  7 Agosto Batalla de Boyaca

                                                      11  \
1 Enero Año Nuevo     17 Agosto La asunción de la Virgen
1 Enero Año Nuevo.1   19 Agosto La asunción de la Virgen
1 Enero Año Nuevo.2   20 Agosto La asunción de la Virgen
1 Enero Año Nuevo.3   21 Agosto La asunción de la Virgen
1 Enero Año Nuevo.4   15 Agosto La asunción de la Virgen
1 Enero Año Nuevo.5   17 Agosto La asunción de la Virgen
1 Enero Año Nuevo.6   18 Agosto La asunción de la Virgen
1 Enero Año Nuevo.7   19 Agosto La asunción de la Virgen
1 Enero Año Nuevo.8   20 Agosto La asunción de la Virgen
1 Enero Año Nuevo.9   15 Agosto La asunción de la Virgen
1 Enero Año Nuevo.10  16 Agosto La asunción de la Virgen
1 Enero Año Nuevo.11  17 Agosto La asunción de la Virgen
1 Enero Año Nuevo.12  18 Agosto La asunción de la Virgen
1 Enero Año Nuevo.13  20 Agosto La asunción de la Virgen
1 Enero Año Nuevo.14  21 Agosto La asunción de la Virgen
1 Enero Año Nuevo.15  15 Agosto La asunción de la Virgen
1 Enero Año Nuevo.16  16 Agosto La asunción de la Virgen
1 Enero Año Nuevo.17  18 Agosto La asunción de la Virgen
1 Enero Año Nuevo.18  19 Agosto La asunción de la Virgen
1 Enero Año Nuevo.19  20 Agosto La asunción de la Virgen

                                             12  \
1 Enero Año Nuevo     12 Octubre Día de la raza
1 Enero Año Nuevo.1   14 Octubre Día de la raza
1 Enero Año Nuevo.2   15 Octubre Día de la raza
1 Enero Año Nuevo.3   16 Octubre Día de la raza
1 Enero Año Nuevo.4   17 Octubre Día de la raza
1 Enero Año Nuevo.5   12 Octubre Día de la raza
1 Enero Año Nuevo.6   13 Octubre Día de la raza
1 Enero Año Nuevo.7   14 Octubre Día de la raza
1 Enero Año Nuevo.8   15 Octubre Día de la raza
1 Enero Año Nuevo.9   17 Octubre Día de la raza
1 Enero Año Nuevo.10  18 Octubre Día de la raza
1 Enero Año Nuevo.11  12 Octubre Día de la raza
1 Enero Año Nuevo.12  13 Octubre Día de la raza
1 Enero Año Nuevo.13  15 Octubre Día de la raza
1 Enero Año Nuevo.14  16 Octubre Día de la raza
1 Enero Año Nuevo.15  17 Octubre Día de la raza
1 Enero Año Nuevo.16  18 Octubre Día de la raza
1 Enero Año Nuevo.17  13 Octubre Día de la raza
1 Enero Año Nuevo.18  14 Octubre Día de la raza
1 Enero Año Nuevo.19  15 Octubre Día de la raza

                                                       13  \
1 Enero Año Nuevo     2 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.1   4 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.2   5 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.3   6 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.4   7 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.5   2 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.6   3 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.7   4 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.8   5 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.9   7 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.10  1 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.11  2 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.12  3 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.13  5 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.14  6 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.15  7 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.16  1 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.17  3 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.18  4 Noviembre Día de Todos los Santos
1 Enero Año Nuevo.19  5 Noviembre Día de Todos los Santos

                                                           14  \
1 Enero Año Nuevo     16 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.1   11 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.2   12 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.3   13 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.4   14 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.5   16 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.6   17 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.7   11 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.8   12 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.9   14 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.10  15 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.11  16 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.12  17 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.13  12 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.14  13 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.15  14 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.16  15 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.17  17 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.18  11 Noviembre Independencia de Cartagena
1 Enero Año Nuevo.19  12 Noviembre Independencia de Cartagena

                                                               15  \
1 Enero Año Nuevo     8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.1   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.2   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.3   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.4   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.5   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.6   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.7   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.8   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.9   8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.10  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.11  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.12  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.13  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.14  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.15  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.16  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.17  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.18  8 Diciembre Día de la Inmaculada Concepción
1 Enero Año Nuevo.19  8 Diciembre Día de la Inmaculada Concepción

                                        16                       17
1 Enero Año Nuevo     25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.1   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.2   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.3   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.4   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.5   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.6   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.7   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.8   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.9   25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.10  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.11  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.12  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.13  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.14  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.15  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.16  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.17  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.18  25 Diciembre Navidad  31 Diciembre Año Nuevo
1 Enero Año Nuevo.19  25 Diciembre Navidad  31 Diciembre Año Nuevo
Enero
6
Enero
7
Enero
8
Enero
9
Enero
11
Enero
12
Enero
6
Enero
7
Enero
9
Enero
10
Enero
11
Enero
12
Enero
7
Enero
8
Enero
9
Enero
10
Enero
12
Enero
6
Enero
7
Enero
8
0
Marzo
23
Marzo
25
Marzo
19
Marzo
20
Marzo
21
Marzo
23
Marzo
24
Marzo
25
Marzo
19
Marzo
21
Marzo
22
Marzo
23
Marzo
20
Marzo
19
Marzo
20
Marzo
21
Marzo
22
Marzo
24
Marzo
25
Marzo
19
1
Abril
9
Abril
18
Marzo
29
Abril
13
Marzo
24
Abril
2
Abril
17
Marzo
28
Abril
5
Abril
21
Abril
1
Abril
9
Marzo
21
Abril
5
Abril
13
Marzo
24
Abril
8
Abril
17
Marzo
28
Abril
12
2
Abril
10
Abril
19
Marzo
30
Abril
14
Marzo
25
Abril
3
Abril
18
Marzo
29
Abril
6
Abril
22
Abril
2
Abril
10
Marzo
24
Abril
6
Abril
14
Marzo
25
Abril
9
Abril
18
Marzo
29
Abril
13
3
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
Mayo
1
4
Mayo
25
Junio
3
Mayo
14
Mayo
29
Mayo
9
Mayo
18
Junio
2
Mayo
13
Mayo
21
Junio
6
Mayo
17
Mayo
25
Mayo
5
Mayo
21
Mayo
29
Mayo
9
Mayo
24
Junio
2
Mayo
13
Mayo
28
5
Junio
15
Junio
24
Junio
4
Junio
19
Mayo
30
Junio
8
Junio
23
Junio
3
Junio
11
Junio
27
Junio
7
Junio
15
Mayo
26
Junio
11
Junio
19
Mayo
30
Junio
14
Junio
23
Junio
3

['0-Enero-8 ',
 '1-Marzo-19',
 '2-Abril-12',
 '3-Abril-13',
 '4-Mayo-1 ',
 '5-Mayo-28',
 '6-Junio-18',
 '7-Junio-25',
 '8-Julio-2 ',
 '9-Julio-20',
 '10-Agosto-7 ',
 '11-Agosto-20',
 '12-Octubre-15',
 '13-Noviembre-5 ',
 '14-Noviembre-12',
 '15-Diciembre-8 ',
 '16-Diciembre-25',
 '17-Diciembre-31']

In [ ]:
## AUTO-CALIFICADOR

# Base variables
lista_meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre",
               "Octubre", "Noviembre", "Diciembre"] 

# Caso 1: no existe la función.
try:
    ejercicio8
    assert type(ejercicio8) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada ejercicio8.",)

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    ejercicio8
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un Datatimeindex.
assert type(ejercicio8()) == pd.core.indexes.datetimes.DatetimeIndex, f"Tu función debe retornar un objeto de tipo '{pd.core.indexes.datetimes.DatetimeIndex.__name__}'."

# Caso 4: retorna un dataframe con cantidad de columnas errada
assert len(ejercicio8()) == 171, "Tu función retorna un objeto DatetimeIndex con una longitud incorrecta."

print("Felicidades, realizaste este ejercicio correctamente.")

## Referencias

Banco de la República (2020). 1.2.TIP_Serie histórica diaria IQY.xlsx [Base deDatos]. Recuperado el 15 de Noviembre de 2020 de :
https://www.banrep.gov.co/es/estadisticas/tasas-interes-politica-monetaria

Banco de la República (2020). 1.1.TIB_Serie histórica IQY.xlsx [Base deDatos]. Recuperado el 15 de Noviembre de 2020 de :
https://www.banrep.gov.co/es/estadisticas/tasa-interbancaria-tib

## Créditos

**Autor(es)**: Jorge Esteban Camargo Forero, Juan David Reyes Jaimes, Alejandro Mantilla Redondo, Diego Alejandro Cely Gomez

**Última actualización:** 17/09/2021